:root {

    /* Colors */
    --bg-color: #E5E5E5;
    --color-blue: #458FF6;
    --color-black: #000000;
    --color-blue-readmore: #4089ED;


    /* Font Family  */

    font-family: 'Mulish', sans-serif;

}