:root {

    /* Colors */
    --bg-color: #E5E5E5;
    --color-white: #FFFFFF;
    --color-blue: #458FF6;
    --color-black: #000000;
    --color-logo: #233348;
    --color-gray: #7D7987;
    --color-navbar: #1F1534;
    --color-blue-readmore: #4089ED;


    /* Font Family  */

    --main-font: 'Mulish', sans-serif;

}